<div class="new-post-form">
  <%= form_with model: @post do |f| %>
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-input', autocomplete: 'off' %><br />
    <%= f.label :body, class: 'form-label' %>
    <%= f.text_area :body, class: 'form-input' %><br />
    <%= f.submit('Create!') %>
  <% end %>
</div>
